.book-info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .book-info-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
