.navbar{
    background-color: #082038;
    .ant-page-header-heading-title{
        color: #34a5dd;
    }
    .add-book-button{
        padding: 5px 0 0 0;
        font-weight: bold;
        color: #34a5dd;
        cursor: pointer;
    }
    .ant-space {
        gap: 30px !important;
    }
}